{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

<h1 class="profileTitle">{{ 'profile.show.my_profil'|trans }}</h1>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption text-center">
                <img class="img-responsive img-cover" src="{{ asset('frontEnd/images/profil.png') }}" alt="" style="margin: auto;">
                <h3>{{ 'profile.show.username'|trans }}: {{ user.username }}</h3>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <p><a href="{{ path('bo_index') }}" class="btn btn-primary" role="button">{{ 'profile.show.go_to_bo'|trans }}</a></p>
            </div>
        </div>
    </div>
</div>

<div class="quick-access-buttons">
    <div class="user-profile-btn">
        <a href="{{ path('fos_user_profile_show') }}">
            <i class="material-icons">perm_identity</i>
        </a>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="backoffice-btn">
            <a href="{{ path('admin_posts_list') }}">
                <i class="material-icons">settings</i>
            </a>
        </div>
    {% endif %}

</div>

{% endblock %}