{% extends "BackEndBundle::base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
	<h1>Welcome to the post page : {{ post.title }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <dir>
    	<img src="{{ asset(images_dir) }}{{post.image.fileName}}" alt="{{ post.title }}"  />
    </dir>
    <div>
        <input type="submit"/>
    </div>

{{ form_end(form) }}

	{# {{ form(form) }} #}

	{# {{ form_row(form.isApproved) }} #}
{% endblock %}