{% extends 'AppBundle::homeBase.html.twig' %}

{% block body %}

    <!-- Blogs Grid Section -->

    {% for category in categories %}
        <section id="{{ category.nameId }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>{{ category.displayName }}</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="multi-item-carousel">
                            <!-- All posts-->
                            {% for post in category.posts %}
                                {% if post.isApproved and post.isPublished %}
                               <li>
                                   <a href="{{ absolute_url(path('show_post', {'id' : post.id, 'slug' : post.slug})) }}">
                                       <img src="{{ asset(images_dir) }}{{post.image.fileName}}" class="img-responsive">
                                   </a>
                               </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    {% endfor %}

    {% if is_granted("ROLE_USER") %}

    <div class="row" style="text-align: center; margin-bottom: 50px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#postModal" data-whatever="@mdo">{{ 'add_post'|trans }}</button>
    </div>

    <!-- Create post button -->
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">{{ 'new_post_title'|trans }}</h4>
                </div>
                {{ form_start(post, {'action': action, 'method': 'POST'}) }}
                <div class="modal-body">

                    {{ form_row(post.category, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(post.title, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(post.body, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(post.image, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(post.tags, { 'attr': {'class': 'form-control'} }) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'send_message'|trans }}</button>
                </div>
                {{ form_end(post) }}
            </div>
        </div>
    </div>

    {% endif %}
{% endblock %}
